@font-face {
    font-family: SourceCodePro;
    src: url(/fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: IcoMoon;
    src: url(/fonts/IcoMoon.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

:root {
    --code-font: SourceCodePro;
    --red: #E74443;
    --green: #17C152;
    --orange: #F55D3E;
    --yellow: #F0A202;
    --violet: #5A1ED9;
    --cyan: #46B2C8;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a:active, a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: var(--code-font);
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, html, body {
    font-size: 14px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: bold;
}

.content code, .content pre {
    font-family: var(--code-font);
    font-size: 0.9em;
}

.content code {
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.content aside.warning:before, .content aside.notice:before, .content aside.success:before {
    font-family: 'IcoMoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.content aside.warning:before {
    content: "warning";
}

.content aside.notice:before {
    content: "notification";
}

.content aside.success:before {
    content: "checkmark";
}

html, body {
    color: #444444;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eaf2f6;
    height: 100%;
    -webkit-text-size-adjust: none;
}

#nav-button {
    padding: 0 1.5em 5em 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.7;
    line-height: 16px;
    -webkit-transition: left ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition: left ease-in-out 0.3s;
    -o-transition: left ease-in-out 0.3s;
    transition: left ease-in-out 0.3s;
}

#nav-button span {
    display: block;
    padding: 6px 6px 6px;
    background-color: rgba(234, 242, 246, 0.7);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
    -moz-transform: rotate(-90deg) translate(-100%, 0);
    -ms-transform: rotate(-90deg) translate(-100%, 0);
    -o-transform: rotate(-90deg) translate(-100%, 0);
    transform: rotate(-90deg) translate(-100%, 0);
    border-radius: 0 0 0 5px;
}

#nav-button img {
    height: 16px;
    vertical-align: bottom;
}

#nav-button:hover {
    opacity: 1;
}

#nav-button.open {
    left: 230px;
}

.page-wrapper {
    margin-left: 230px;
    position: relative;
    z-index: 10;
    background-color: white;
    min-height: 100%;
    padding-bottom: 1px;
}

.page-wrapper .dark-box {
    width: 50%;
    background-color: #393939;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.content {
    position: relative;
    z-index: 30;
}

.content:after {
    content: '';
    display: block;
    clear: both;
}

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5, .content > h6, .content > p, .content > table, .content > ul, .content > ol, .content > aside, .content > dl {
    margin-right: 50%;
    padding: 0 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.content > ul, .content > ol {
    padding-left: 43px;
}

.content > h1, .content > h2, .content > div {
    clear: both;
}

.content h1 {
    font-size: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 21px;
    #margin-top: 2em;
    border-top: 1px solid #ddd;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f9f9f9));
    background-image: -webkit-linear-gradient(top, #fff, #f9f9f9);
    background-image: -moz-linear-gradient(top, #fff, #f9f9f9);
    background-image: -o-linear-gradient(top, #fff, #f9f9f9);
    background-image: linear-gradient(top, #ffffff, #f9f9f9);
}

.content h1:first-child, .content div:first-child + h1 {
    border-top-width: 0;
    margin-top: 0;
}

.content h2 {
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 0;
    border-top: 1px solid #ccc;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.content h1 + h2, .content h1 + div + h2 {
    margin-top: -21px;
    border-top: none;
}

.content h3, .content h4, .content h5, .content h6 {
    font-size: 12px;
    margin-top: 2.5em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
}

.content h4, .content h5, .content h6 {
    font-size: 10px;
}

.content hr {
    margin: 2em 0;
    border-top: 2px solid #393939;
    border-bottom: 2px solid #eaf2f6;
}

.content table {
    margin-bottom: 1em;
    overflow: auto;
}

.content table th, .content table td {
    vertical-align: top;
    line-height: 1.6;
}

.content table th {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
}

.content table td {
    padding: 10px;
}

.content table tr:last-child {
    border-bottom: 1px solid #ccc;
}

.content table tr:nth-child(odd) > td {
    background-color: #f9fbfc;
}

.content table tr:nth-child(even) > td {
    background-color: #f3f7fa;
}

.content dt {
    font-weight: bold;
}

.content dd {
    margin-left: 15px;
}

.content p, .content li, .content dt, .content dd {
    line-height: 1.6;
}

.content img {
    max-width: 100%;
}

.content code {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;
    border-radius: 3px;
}

.content aside {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: var(--cyan);
    color: white;
    font-size: 14px;
    line-height: 1.6;
    margin-left: 2%;
    margin-right: 52%;
    border-radius: 2px;
}

.content aside.warning {
    background-color: var(--red);
}

.content aside.success {
    background-color: var(--green);
}

.content aside:before {
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 14px;
}

.content .codehilite, .content blockquote, .content .api-endpoint, .content .websocket {
    color: #fff;
    padding: 1em 28px;
    margin: 0;
    width: 50%;
    float: right;
    clear: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .codehilite {
    background-color: #292929;
    border-radius: 3px;
    margin-right: 2%;
    width: 46%;
}

.api-endpoint .url, .websocket .url {
    display: flex;
    flex: 1 0 0;
    padding-left: 10pt;
    align-items: center;
    background-color: #292929;
    font-size: 0.9em;
    border-radius: 0 3px 3px 0;
}

.api-endpoint .url strong {
    color: var(--yellow);
}

.api-endpoint, .websocket {
    display: flex;
    flex-wrap: nowrap;
    font-family: var(--code-font);
}

.api-endpoint .method, .websocket .method {
    width: 70px;
    padding: 10px 0;
    border-radius: 3px 0 0 3px;
    background-color: #777;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.api-endpoint .method.method-post {
    background-color: var(--green)
}

.api-endpoint .method.method-get {
    background-color: var(--violet)
}

.api-endpoint .method.method-delete {
    background-color: var(--red)
}

.api-endpoint .method.method-put {
    background-color: var(--orange)
}

.api-endpoint .method.method-patch {
    background-color: var(--yellow)
}

.api-endpoint .method.method-head {
    background-color: var(--cyan)
}

.api-endpoint .method.method-options {
    background-color: var(--cyan)
}

.websocket .method.method-on {
    background-color: var(--green)
}

.websocket .method.method-emit {
    background-color: var(--violet)
}

.content pre > p, .content blockquote > p {
    margin: 0;
}

.content pre a, .content blockquote a {
    color: #fff;
    text-decoration: none;
}

.content pre a, .content blockquote {
    border-bottom: none;
}

.content blockquote > p {
    color: #ccc;
    font-weight: 700;
}

h1:focus, h2:focus, h3:focus, h4:focus {
    outline: none;
}

a:focus {
    outline: none;
}

.attribute .required {
    color: var(--red);
    text-transform: uppercase;
    font-family: var(--code-font);

}

.attribute .optional {
    color: #6e6e6e;
    font-family: var(--code-font);

}
