<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/toc.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/code_highlight.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/segment.css') }}"/>
    <script src="{{ url_for('static', filename='/js/tocbot.js') }}"></script>
</head>
<body>
<div class="toc"></div>

<div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content">
        {% autoescape false %}
        {% for page in pages %}
        {{ page }}
        {%endfor%}
        {% endautoescape %}
    </div>
</div>
</body>
<script>
    tocbot.init({
        tocSelector: '.toc',
        contentSelector: '.content',
        headingSelector: 'h1, h2',
        throttleTimeout: 150,
        scrollSmooth: false
    });
</script>
<script src="{{ url_for('static', filename='/js/segment.js') }}"></script>
</html>